doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document

    style.
      body {  
        background-color: wheat;
      }
      .container {
        padding: 50px;
      }
  body 
    .container
      h1 Express sever
      p Powered by #{auth}